@import "tailwindcss";

body {
  margin: 0;
  font-family: 'karla', sans-serif;
}

.header{
  display: flex;
  align-items: center;
  height: 65px;
  background: black;
  color: white;
  padding: 20px;
}